<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bienao.robot.mapper.jingdong.JdFruitMapper">

    <update id="resetFruitStatus">
        update jdFruit set help_status = 0,to_help_status = 1,help_lottery_status = 0,to_help_lottery_status = 1,is_fruit_hei = 0;
    </update>

    <update id="resetHot">
        update jdFruit set is_fruit_hei = 0;
    </update>

    <select id="queryCkWithoutShareCode" resultType="jdCkEntity">
        select * from jdck where fruit_share_code is null and is_fruit_hei = 0;
    </select>

    <update id="updateJdFruit" parameterType="jdFruitEntity">
        update jdFruit
        <set>
            <if test="helpCode != null and helpCode != ''">
                help_code = #{helpCode},
            </if>
            <if test="isFruitHei != null">
                is_fruit_hei = #{isFruitHei},
            </if>
            <if test="helpStatus != null">
                help_status = #{helpStatus},
            </if>
            <if test="toHelpStatus != null">
                to_help_status = #{toHelpStatus},
            </if>
            <if test="helpLotteryStatus != null">
                help_lottery_status = #{helpLotteryStatus},
            </if>
            <if test="toHelpLotteryStatus != null">
                to_help_lottery_status = #{toHelpLotteryStatus},
            </if>
        </set>
        where ckid=#{ckId};
    </update>

    <select id="getHelpTimes" resultType="java.lang.Integer">
        select count(*) from jdFruit where help_status = 1
    </select>

    <select id="getHelpLotteryTimes" resultType="java.lang.Integer">
        select count(*) from jdFruit where help_lottery_status = 1
    </select>

    <insert id="addJdFruit" parameterType="jdFruitEntity">
        insert into jdFruit(help_code,ckid,is_fruit_hei) values (#{helpCode},#{ckId},#{isFruitHei});
    </insert>

    <delete id="clear">
        delete from jdFruit where ckid not in (select id from jdck);
    </delete>

    <select id="getJdFruits" resultType="jdFruitEntity">
        select jf.* from jdck jc
        left join jdFruit jf on jf.ckid = jc.id
        where jc.status = 0
    </select>
</mapper>
