<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bienao.robot.mapper.jingdong.JdPetMapper">

    <update id="resetPetStatus">
        update jdPet set help_status = 0,to_help_status = 1;
    </update>

    <update id="updateJdPet" parameterType="jdFruitEntity">
        update jdPet
        <set>
            <if test="helpCode != null and helpCode != ''">
                help_code = #{helpCode},
            </if>
            <if test="isPetHei != null">
                is_pet_hei = #{isPetHei},
            </if>
            <if test="helpStatus != null">
                help_status = #{helpStatus},
            </if>
            <if test="toHelpStatus != null">
                to_help_status = #{toHelpStatus},
            </if>
        </set>
        where id=#{id};
    </update>

    <select id="getHelpTimes" resultType="java.lang.Integer">
        select count(*) from jdPet where help_status = 1
    </select>

    <insert id="addJdPet" parameterType="JdPetEntity">
        insert into jdPet(help_code,ckid,is_pet_hei) values (#{helpCode},#{ckId},#{isPetHei});
    </insert>
</mapper>
