<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bienao.robot.mapper.QlMapper">

    <insert id="addQl" parameterType="qlEntity">
        insert into ql(url,clientID,clientSecret,head,remark) values (#{url},#{clientID},#{clientSecret},#{head},#{remark})
    </insert>

    <select id="queryQl" parameterType="qlEntity" resultType="qlEntity">
        select * from ql where 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="url != null and url != ''">
            AND url = #{url}
        </if>
        <if test="remark != null and remark != ''">
            AND remark = #{remark}
        </if>
    </select>

    <select id="queryQlById" parameterType="qlEntity" resultType="qlEntity">
        select * from ql where 1=1 AND id = #{id}
    </select>

    <select id="queryQlByUrl" parameterType="string" resultType="qlEntity">
        select * from ql where url=#{url}
    </select>

    <select id="queryQls" resultType="qlEntity">
        select * from ql where 1=1
        <if test="ids !=null and ids.size()>0">
            and id in
            <foreach collection="list" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by id
    </select>

    <delete id="deleteQls">
        delete from ql where 1=1 and id in
            <foreach collection="list" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </delete>

    <update id="updateQl" parameterType="qlEntity">
        update ql
        <set>
            <if test="url !=null and url !=''">
                url=#{url},
            </if>
            <if test="clientID !=null and clientID !=''">
                clientID=#{clientID},
            </if>
            <if test="clientSecret !=null and clientSecret !=''">
                clientSecret=#{clientSecret},
            </if>
            <if test="tokenType !=null and tokenType !=''">
                tokenType=#{tokenType},
            </if>
            <if test="token !=null and token !=''">
                token=#{token},
            </if>
            <if test="head !=null">
                head=#{head},
            </if>
            <if test="remark !=null and remark !=''">
                remark=#{remark},
            </if>
            <if test="updatedTime !=null">
                updated_time=#{updatedTime},
            </if>

        </set>
        where id=#{id};
    </update>


</mapper>
