<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bienao.robot.mapper.SystemParamMapper">
    <select id="querySystems" resultType="systemParam">
        select * from systemParam where 1=1
        <if test="code !=null and code !=''">
            code=#{code}
        </if>
        order by id
    </select>

    <select id="querySystem" parameterType="string" resultType="systemParam">
        select * from systemParam where code=#{code}
    </select>

    <insert id="addSystemParam" parameterType="systemParam">
        insert into systemParam(code,codeName,value) values (#{code},#{codeName},#{value})
    </insert>

    <update id="updateSystemParam" parameterType="systemParam">
        update systemParam
        <set>
            <if test="value !=null">
                value=#{value},
            </if>
            <if test="codeName !=null and codeName !=''">
                codeName=#{codeName},
            </if>
            <if test="updatedTime !=null">
                updated_time=#{updatedTime},
            </if>
        </set>
        where code=#{code};
    </update>

    <delete id="deleteSystemParam" parameterType="string">
        delete from systemParam where code = #{code};
    </delete>

</mapper>
