<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bienao.robot.mapper.WireKeyMapper">
    <insert id="addWireKey" parameterType="wireKeyEntity">
        insert into wireKey (wireId,`key`) values (#{wireId}, #{key})
    </insert>

    <update id="updateWireKey">
        update wireKey
        <set>
            <if test="wireId !=null">
                wireId=#{wireId},
            </if>
            <if test="key !=null and key !=''">
                key=#{key},
            </if>
            <if test="updatedTime !=null">
                updated_time=#{updatedTime},
            </if>
        </set>
        where id=#{id};
    </update>

    <delete id="deleteWireKey">
        delete from wireKey where 1=1 and wireId in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="queryScript" resultType="string">
        select w.script from wireKey wk
        left join wire w on wk.wireId=w.identity
        where wk.key = #{key}
    </select>
</mapper>
